::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece
{
  background: rgba(0,0,0,0);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical
{
  height: 6px;
  background-color: #666;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal
{
  width: 6px;
  background-color: #666;
  -webkit-border-radius: 6px;
}